<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectString"
         connectionString="Data Source=192.163.20.5;Initial Catalog=BHWorkLog;Persist Security Info=True;User ID=BHWorkLog;Password=BHWorkLog;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>